@model DatingHemsida_Grupp_9.ViewModels.WallViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Wall</h1>
<div>
    @if ((bool)ViewBag.AddFriend == true)
    {
        @using (Html.BeginForm("AddFriend", "Friend", new { reciverId = Model.Profile.Id }))
        {

            @*<input type="hidden" name="profileId" value="" />*@
            <input type="submit" name="GoToPage" value="Add friend!" />
        }}
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.SexualOrientation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.SexualOrientation)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Profile.ImagePath)
            </dt>*@
        <dd class="col-sm-10">
            <img src="@("~/Image/" + Model.Profile.ImagePath)" asp-append-version="true" width="250" height="250" />
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WallMessages)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.WallMessages)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ReciverId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SexualOrientation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPicture)
                    </td>*@

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<div>

    <form>
        <p>
            <textarea id="messageBody" rows="4" cols="50" placeholder="Write a message!"></textarea>
        </p>
        <p>
            <button id ="sendButton" type="button">Post!</button>
            @*<input id="sendButton" type="submit" name="NewMessage" value="Post!" />*@
        </p>
    </form>

</div>

@section Scripts {
   <script>
        $(() =>
            $("#sendButton").click((e) => {
                e.preventDefault();
                //var message = new Object();
                //message.Text = $('#messageBody').val();
                //message.SenderId = 2;
                //message.ReciverId = 3;
                //message.Date = "2021-01-05";
                //message.Author = "Test";
                //var myJSON = JSON.stringify(message);
                //info = [];
                //info[0] = 'test';
                //info[1] = 'test2';
                var texten = "test";

                $.ajax({
                    type: "POST",
                    url: '/api/MessageAPI/postMessage',
                    data: {text:"tesr2"},
                    //data: JSON.stringify({paramName : info }),
                    //contentType:"application/json; charset=utf-8",
                    dataType: "JSON",
                    success: alert("sent")
                })
            })
            
        );
        //function successFunction() {
        //    alert("test");
        //}

        //document.getElementById("sendButton").addEventListener("click", successFunction, true);

        //function successFunction(data) {
        //    alert("test");
        //}

        
        //$('#sendButton').click(Function(e)  {
        //    preventDefault()
        //    alert("Test");


        //});
       
    @*$(() =>
        $("#sendButton").click((e) => {
            e.preventDefault();
            e.alert("Test");

            $.ajax({
                url: '@Url.Action("SendMessage", "MessageAPI")',
                type: "POST",
                data: JSON.stringify({text: "meddelnade"}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunction
            });
            function successFunction(data) {
                alert(data);
            }
        }*@

    </script>

}
<!--<div>
    <h4>WallViewModel</h4>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.SexualOrientation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.UserPicture)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.SexualOrientation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Profile.UserPicture)
                    </td>
                    <td>-->
@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
<!--</td>
            </tr>
    </tbody>
</table>-->
