@model DatingHemsida_Grupp_9.ViewModels.WallViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Wall</h1>
<div>
    @if ((bool)ViewBag.AddFriend == true)
    {
        @using (Html.BeginForm("AddFriend", "Friend", new { reciverId = Model.Profile.Id }))
        {

            @*<input type="hidden" name="profileId" value="" />*@
            <input type="submit" name="GoToPage" value="Add friend!" />
        }}
    <input id="id" type="hidden" name="id" value="@Model.Profile.Id" />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Firstname)
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.SexualOrientation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.SexualOrientation)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Profile.ImagePath)
            </dt>*@
        <dd class="col-sm-10">
            <img src="@("~/Image/" + Model.Profile.ImagePath)" asp-append-version="true" width="250" height="250" />
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WallMessages)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.WallMessages)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ReciverId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SexualOrientation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPicture)
                    </td>*@

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<div>

    <form>
        <p>
            <textarea id="messageBody" rows="4" cols="50" placeholder="Write a message!"></textarea>
        </p>
        <p>
            <button id ="sendButton" type="button">Post!</button>
        </p>
    </form>

</div>

@section Scripts {
   <script>
       $(() =>
           $("#sendButton").click((e) => {
               e.preventDefault();
               

               var message = {};
               message.text = $('#messageBody').val();
               message.reciverId = $('#id').val();
               if (message.text.length > 10 && message.text.length < 250) {


                   $.ajax({
                       type: "POST",
                       url: "/api/MessageAPI/postMessage",
                       data: JSON.stringify(message),
                       contentType: "application/json",
                       dataType: "json",
                       success: location.reload()
                     
                       
                       
                       
                       

                   });
                   
                   
               } else {
                   alert("Please enter a text between 10 and 250 charcters");
               }
           })
       );

    </script>

}

