@model DatingHemsida_Grupp_9.ViewModels.WallViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/css/wall.css" rel="stylesheet" type="text/css" />
    <link href="~/css/general.css" rel="stylesheet" type="text/css" />
</head>
<h1>Wall</h1>
<div>
    @if ((bool)ViewBag.AddFriend == true)
    {
        @using (Html.BeginForm("AddFriend", "Friend", new { receiverId = Model.Profile.Id }))
        {
            <input type="submit" name="GoToPage" value="Add friend!" />
        }}
    <input id="id" type="hidden" name="id" value="@Model.Profile.Id" />
    <hr />
    <img class="profilepic" src="@("~/Image/" + Model.Profile.ImagePath)" asp-append-version="true"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.SexualOrientation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.SexualOrientation)
        </dd>
    </dl>
</div>
<div id="testDiv">
    @await Html.PartialAsync("_Messeges", Model.WallMessages)
</div>
<div>
    <form>
        <p>
            <textarea id="messageBody" rows="4" cols="50" placeholder="Write a message!"></textarea>
        <p>
            <button id="sendButton" type="button">Post!</button>
        </p>
    </form>
</div>
@section Scripts {
    <script src="~/js/message.js"></script>
}