@model IEnumerable<DatingHemsida_Grupp_9.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<h1>Homepage</h1>
<h5>Press their profilepictures to explore</h5>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <div id="logo">
                        <a href="@Url.Action("Index", "Wall", new {profileId=item.Id})">
                            <img src="@("~/Image/" + item.ImagePath)" asp-append-version="true" width="250" height="250" />
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                    @Html.DisplayFor(modelItem => item.Lastname)
                    <br />
                    @Html.DisplayFor(modelItem => item.Age)
                    <br />
                    @Html.DisplayFor(modelItem => item.Gender)
                    <br />
                    @Html.DisplayFor(modelItem => item.SexualOrientation)
                </td>
                <td>
                    @using (Html.BeginForm("Index", "Wall"))
                    {
                        <input type="hidden" name="profileId" value="@item.Id" />
                        <input type="submit" name="GoToPage" value="Go to profile!" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>