@model IEnumerable<DatingHemsida_Grupp_9.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/general.css" rel="stylesheet" type="text/css"/>
</head>
<h1>Homepage</h1>
<h5>Press their profilepictures to explore</h5>
<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div id="logo">
                        <a href="@Url.Action("Index", "Wall", new {profileId=item.Id})">
                            <img class="examplepic" src="@("~/Image/" + item.ImagePath)" asp-append-version="true" />
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                    @Html.DisplayFor(modelItem => item.Lastname)
                    <br />
                    @Html.DisplayFor(modelItem => item.Age)
                    <br />
                    @Html.DisplayFor(modelItem => item.Gender)
                    <br />
                    @Html.DisplayFor(modelItem => item.SexualOrientation)
                </td>
            </tr>
        }
    </tbody>
</table>