@model IEnumerable<DatingHemsida_Grupp_9.Models.Profile>

@{
    ViewData["Title"] = "Requests";
}

<h1>Friendrequests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexualOrientation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SexualOrientation)
                </td>
                <td>
                    @using (Html.BeginForm("Index", "Wall"))
                    {
                       
                            <input type="hidden" name="profileId" value="@item.Id" />
                            <input type="submit" name="Profile" value="Go to profile!" />
                    }
                    </td>
                <td>
                    @using (Html.BeginForm("AcceptDecline", "Friend"))
                    {
                        <input type="hidden" name="FriendId" value="@item.Id" />
                        <input type="submit" name="AcceptDecline" value="Accept" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("AcceptDecline", "Friend"))
                    {
                        <input type="hidden" name="FriendId" value="@item.Id" />
                        <input type="submit" name="AcceptDecline" value="Decline" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>