@model IEnumerable<DatingHemsida_Grupp_9.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>
<form asp-controller="Profile" asp-action="Index">
    <p>
        <input type="text" name="searchString" placeholder="Search for new friends!" />
        <select name="searchGender">
            <option></option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
        <input type="submit" value="Search" />
    </p>
    @ViewBag.NoResult
</form>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexualOrientation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPicture)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexualOrientation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPicture)
            </td>*@
        <td>
            @using (Html.BeginForm("Index", "Wall"))
            {
                if (item.Id>0) { 
                <input type="hidden" name="profileId" value="@item.Id" />
                <input type="submit" name="Profile" value="Go to profile!" />}
            }
        </td>
        </tr>
}
    </tbody>
</table>
